<launch>

    <include file="$(find ublox_driver)/launch/ublox_driver.launch"/>
    <include file="$(find gvins)/launch/visensor_f9p.launch"/>    
    <arg name="video_device" default="/dev/video0" />
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" clear_params="true" output="screen">
        <param name="video_device" value="$(arg video_device)" />
        <param name="framerate" value="60"/>
        <param name="image_height" value="480"/>
        <param name="image_width" value="640"/>
        <param name="pixel_format" value="mjpeg"/>
    </node>

</launch>